* {
    margin: 0;
    padding: 0;
}

.gallery {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 1200px;
    list-style: none;
    gap: 24px;
    padding: 24px;
}

.gallery-item {
    flex: 0 1 360px;
}

.gallery-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-item a img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform .3s ease;
}

.gallery-item a img:hover {
    transform: scale(1.05);
}